{{!#component  
    greetingMSG='Hello From, DCI Component'
    functionRef = this.parentFunc
    }}

<h1> Welcome Here! </h1>
{{!/component}}

<LinkTo class="" @route="welcome" @model="myappcode">Welcome</LinkTo>

